<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="./assets/img/home1.png" style="width: 350px; height: 200px;" alt="">
					</div>
					<div class="shop-body">
						<h3>Collezione<br>Giochi XBOX</h3>
						<a href="/categories/3" class="cta-btn">Acquista Ora <i
								class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="./assets/img/home2.png" style="width: 350px; height: 200px;" alt="">
					</div>
					<div class="shop-body">
						<h3>Collezione<br>Giochi PS5</h3>
						<a href="/categories/4" class="cta-btn">Acquista Ora <i
								class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="./assets/img/home3.png" style="width: 350px; height: 200px;" alt="">
					</div>
					<div class="shop-body">
						<h3>Collezione<br>Giochi PC</h3>
						<a href="/categories/5" class="cta-btn">Acquista Ora <i
								class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Prodotti più richiesti:</h3>
				</div>
			</div>

			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4 col-sm-6" *ngFor="let p of products">
						<div class="card my-2 ">
							<img [src]="p.immagine_principale" height="400px" alt="{{p.nome}}" class="card-img-top"
								style="cursor: pointer;" (click)="selectProduct(p.id)">
							<div class="card-header">
								<div class="card-title">
									<p>{{p.nome|titlecase}}</p>
								</div>
							</div>
							<div class="cart-body">
								<h6>{{p.descrizione.substr(0,100)}}...</h6>
								<p class="lead">{{p.prezzo|currency:'EUR'}}</p>
							</div>
							<div class="row d-flex justify-content-center border-primary my-3">
								<div class="col-md-6">
									<!-- PROPERTY BINDING-->
									<button class="btn btn-danger" [class.disabled]="p.quantita<1" 
										[class.btn-outline-danger]="p.quantita < 1"
										(click)="p.quantita>0 && ShopNow(p.id)">
										{{p.quantita <1 ? "Articolo terminato" :"Acquista immediatamente"}} </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="hot-deal" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hot-deal">
					<ul class="hot-deal-countdown">
						<li>
							<div>
								<h3>02</h3>
								<span>Giorni</span>
							</div>
						</li>
						<li>
							<div>
								<h3>17</h3>
								<span>Ore</span>
							</div>
						</li>
						<li>
							<div>
								<h3>30</h3>
								<span>Minuti</span>
							</div>
						</li>
						<li>
							<div>
								<h3>60</h3>
								<span>Sec</span>
							</div>
						</li>
					</ul>
					<h2 class="text-uppercase">Sconti per un periodo limitato</h2>
					<p>Giochi PlayStation in SCONTO!!</p>
					<a class="primary-btn cta-btn" href="/categories/4">Acquista ora</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="newsletter" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="newsletter">
					<p>Iscriviti alla nostra <strong>NEWSLETTER</strong></p>
					<form>
						<input class="input" type="email" placeholder="Inserisci la tua Email">
						<button class="newsletter-btn"><i class="fa fa-envelope"></i> Iscriviti</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
