<footer id="footer">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Gameplay</h3>
                        <p>GamePlay è un nuovo sito di vendita di giochi e console, a prezzi convenienti.</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>Perugia</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+333 3333 333</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>giulian.decarlo@studenti.unipg.it</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Categorie</h3>
                        <ul class="footer-links">
                            <li><a href="/categories/3">Giochi XBOX</a></li>
                            <li><a href="/categories/4">Giochi PlayStation</a></li>
                            <li><a href="/categories/5">Giochi PC</a></li>
                            <li><a href="/categories/1">Console</a></li>
                            <li><a href="/categories/2">Accessori</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Informazioni</h3>
                        <ul class="footer-links">
                            <li><a href="/">Chi siamo</a></li>
                            <li><a href="/">Contattaci</a></li>
                            <li><a href="/">Privacy Policy</a></li>
                            <li><a href="/">Ordini e Restituzioni</a></li>
                            <li><a href="/">Termini e Condizioni</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Servizi</h3>
                        <ul class="footer-links">
                            <li><a href="/admin">Sezione Admin</a></li>
                            <li><a href="/">I nostri Prodotti</a></li>
                            <li><a href="/">Lista dei desideri</a></li>
                            <li><a href="/">Traccia il mio ordine</a></li>
                            <li><a href="/">Assistenza</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <span class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </span>
        </div>
    </div>
</footer>
