<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Gameplay</h3>
                        <p>GamePlay è un nuovo sito di vendita di giochi e console, a prezzi convenienti.</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>Perugia</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>giulian.decarlo@studenti.unipg.it</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Categorie</h3>
                        <ul class="footer-links">
                            <li><a href="/categories/3">Giochi XBOX</a></li>
                            <li><a href="/categories/4">Giochi PlayStation</a></li>
                            <li><a href="/categories/5">Giochi PC</a></li>
                            <li><a href="#">Console</a></li>
                            <li><a href="#">Accessori</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Informazioni</h3>
                        <ul class="footer-links">
                            <li><a href="/">Chi siamo</a></li>
                            <li><a href="/">Contattaci</a></li>
                            <li><a href="/">Privacy Policy</a></li>
                            <li><a href="/">Ordini e Restituzioni</a></li>
                            <li><a href="/">Termini e Condizioni</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Servizi</h3>
                        <ul class="footer-links">
                            <li><a href="/admin">Sezione Admin</a></li>
                            <li><a href="/">I nostri Prodotti</a></li>
                            <li><a href="/">Lista dei desideri</a></li>
                            <li><a href="#">Traccia il mio ordine</a></li>
                            <li><a href="#">Assistenza</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->
</footer>
<!-- /FOOTER -->
